WEBTREES_SERVERADMIN=email@example.com
WEBTREES_SERVERNAME=webtrees.example.com
WEBTREES_TIMEZONE=Australia/Melbourne
WEBTREES_ADMIN_USER=admin
WEBTREES_ADMIN_EMAIL=email@example.com
WEBTREES_ADMIN_PASSWORD=password
WEBTREES_ADMIN_NAME=John Citizen
WEBTREES_DB_HOST=db
WEBTREES_DB_USER=webtrees
WEBTREES_DB_PASSWORD=password
WEBTREES_DB_NAME=webtrees
MYSQL_DATABASE=webtrees
MYSQL_USER=webtrees
MYSQL_PASSWORD=password
MYSQL_RANDOM_ROOT_PASSWORD=yes
